body {
    background-color: rgb(224, 203, 228);
}

html {
    scroll-behavior: smooth;
}

.toc {
    opacity: 0;
    pointer-events: none;
}

.toc-active {
    opacity: 100;
    pointer-events: auto;
}

.filter-pink{
    filter: brightness(0) saturate(100%) invert(69%) sepia(68%) saturate(1157%) hue-rotate(302deg) brightness(95%) contrast(107%);
}